
html, body {
    max-width: 100%;
    contain:paint;
    margin: 0;
    background-color:rgb(255, 252, 252);
}



.navigationbar {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 1.0em;
    background-color: white(18, 107, 197) ;
    position: relative;
    background-color: white;
}

.centeredlinks {
    display: flex;
    margin-left: 100px;
}


.navigationbar > .centeredlinks > div {
    margin-right: 20px;
    font-size: 1.0em;
    position: relative;
    bottom: 12px;
}

.navlinks {
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navlinks a {
    color: black;
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navlinks:hover {
    border-bottom: 1px solid black;
}

.navlinks a:hover {
    color: black;
}

.activenavlink {
    border-bottom: 1px solid black;
}

.activenavlink a {
    color: black !important;
}

.rightlinks {
    margin-right: 50px;
    padding: 1px;
    border-radius: 120px;
    margin-top: -3px;
    position: relative;
    bottom: 11px;
}

.rightlinks a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0em;
    color:black;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}


/* styling the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
}

.dropdown-content a {
    float:none;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a :hover {
    background-color: #ddd;
}
.navlinks:hover .dropdown-content {
    display: block;
}



 /* styling the section  */

 section {
    background-color:rgb(57, 149, 241);
    padding-bottom: 250px;
    background-image: url(images/Proofreading-Software-Programs.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    
 }
 
 
 /*  
.firstsection {
    border: 2px solid red;
    position: relative;
    top: 80px;
    padding-bottom: 45px;
    background-color: rgb(18, 107, 197);
} */

 .firstpart{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 .introwriting {
    margin-left: 10%;
 }

 .introwriting h1 {
    position: relative;
    padding-top: 20%;
    bottom: 50px;
    font-size: 60px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

.introwriting p {
    position: relative;
    bottom: 50px;
    color: white;
 }

 /* Styling the fourbox section */

 
/*.fourboxsections {
    border: 2px solid red;
    position: relative;
    top: 75px;
}
*/


 .boxes {
    display: flex;
    justify-content: center;
    color: white;
    position:relative;
    top: -120px;
 }
 
 .boxes h1 {
    font-size: 28px;
    position: relative;
    left: 50px;
 }

 .boxes p {
    padding: 5px;
    font-size: small;
    text-align: justify;
 }

 .box1 {
    background-color:mediumaquamarine;
    border-radius:30px 0px 0px 30px;
 }

 .box2 {
    background-color:midnightblue;
 }

 .box3 {
    background-color: darkgoldenrod;
 }

 .box4 {
    border-radius:0px 30px 30px 0px;
    color: black;
    background-color: white;
 }

 .boxes button {
    border: none;
    padding-bottom: 5px;
    position: relative;
    left: 100px;
    top:-10px;
    background-color: transparent;
    color: white;
 }

 .box4 > button {
    color: black;
 }

 /* Styling the second part */

 .secondpart {
    text-align: center;
    padding-bottom: 60px;
 }

 .secondpart h5 {
    font-size: 40px;
    font-weight: normal;
    font-family: sans-serif;
 }

 .secondpart p {
    padding-bottom: 100px;
    text-align: center;
    padding-top: 60px;
    font-size: 20px;
    font-family: serif;
    margin-right:250px;
    margin-left: 250px;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
 }

 .thirdpart {
    text-align: center;
 }

 .thirdpart .p1 {
    font-size: 35px;
    font-weight: normal;
 }

 .thirdpart button {
    padding: 15px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: medium;
    border:none;
    position: relative;
    bottom: 15px;
    background-color: rgba(248, 152, 35, 0.932);
    font-weight: bold;
 }

.thirdpart button a {
    text-decoration: none;
    color: white;
}


 .thirdpart .faq {
    font-size: 15px;
 }

 .faq a {
    text-decoration: none;
    color:cornflowerblue;
 }
